body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

li {
  padding: 3px;
}

.status {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  margin: 20px;
}

.square {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.row-label {
  font-weight: bold;
  width: 25px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.highlight {
  background-color: greenyellow;
  border-color: greenyellow;
}

.no-highlight {
  color: black
}
